
.contact{
    min-height: 600px;
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 500
}
.contact-item{
    height: 100px;
    width: 300px;
    margin: 50px auto;
    text-align: left;
}

.contact .contact-item-1{
    font-family: "Playfair Display", serif;
}
.contact .contact-item-2{
    font-family: "Playfair Display", serif;
    color: #8a8a8a;
}