

.pay-content div {
    margin: 0 auto;
    width: 80%;
}
.border-bottom{
    border-bottom: 1px solid #888888;
}
.pay-title{
    height: 100px;
    line-height: 100px;
}
.shopping-information{
    height: 350px;
}
.pay-information{
    height: 200px;
}
.pay-information-item{
    height: 300px;
    margin-top: 50px;
}
.pay-information-item span{
    display:block;
    float:left;
    width: 150px;
}

.pay-total .place-order{
    background-color: #2577fd;
    color: #fff;
    margin:5px 200px;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
}